#initial{
    margin-top: 200px;
    font-size: 70px;
}

.txt{
    margin-left: 420px;
    margin-right: 420px;
    font-style: italic;
}

.txt1{
    margin-left: 180px;
    margin-right: 250px;
    font-style: italic;
}
